<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8"/>
    <Title>Caderneta</Title>
    <link rel="shortcut icon" type="imagem/x-icon" href="../static/imagem/iconee.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"><!-- Conectando o HTML ao CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto:ital,wght@1,500;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Landing Page</title>
</head>

<h2>Formulario</h2>
<main class="container">
    <form action="">
        <div class="input-field">



            <input type="number" name="tNovoCpf" id="tNovoCpf"



                placeholder="CPF">



            <div class="underline"></div>

            
            <input type="text" name="tNovoNome" id="tNovoNome"



                placeholder="Nome Completo">



            <div class="underline"></div>

            <input type="text" name="tNovoRacaCor" id="tNovoRacaCor"



                placeholder="Raça/Cor">



            <div class="underline"></div>

            <input type="text" name="tNovoCidadeDeNascimento" id="cidade De Nascimento"



                placeholder="Cidade de Nascimento">



            <div class="underline"></div>

            
            <input type="text" name="tNovaMoradia" id="moradia"



                placeholder="Casa/Apartamento">



            <div class="underline"></div>

            
            <input type="date" name="tNovoDataDeNascimento" id="tNovoDataDeNascimento">

            <label for="">Data De Nascimento</label>

            



            <div class="underline"></div>

            <input type="number" name="tNovoCartaoSus" id="cartaoSus"



                placeholder="Cartão SUS">



            <div class="underline"></div>

            <div class="input-field">



                <input type="text" name="tNovoPai" id="pai"
    
    
    
                    placeholder="Nome do Pai">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaMae" id="mae"
    
    
    
                    placeholder="Nome da Mãe">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>
            
            <div class="input-field">



                <input type="text" name="tNovaSabeLerEscrever" id="sabeLerEscrever"
    
    
    
                    placeholder="Saber Ler/Escrever?">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaEscolaridade" id="escolaridade"
    
    
    
                    placeholder="Nível de Escolaridade">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaRua" id="rua"
    
    
    
                    placeholder="Endereço">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaCidade" id="cidade"
    
    
    
                    placeholder="Cidade">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaBairro" id="bairro"
    
    
    
                    placeholder="Bairro">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaNumero" id="numero"
    
    
    
                    placeholder="Número da Casa">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaCep" id="cep"
    
    
    
                    placeholder="CEP">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaMunicipio" id="municipio"
    
    
    
                    placeholder="Municipio">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaEstado" id="estado"
    
    
    
                    placeholder="Estado">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaComplemento" id="complemento"
    
    
    
                    placeholder="Ponto de Referência">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaTelefone" id="telefone"
    
    
    
                    placeholder="Telefone/Celular">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaEmail" id="email"
    
    
    
                    placeholder="email">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovoConjugue" id="estacaoConjugal"
    
    
    
                    placeholder="Estação Conjugal">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaProfissao" id="profissao"
    
    
    
                    placeholder="Profissão">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaConvenio" id="convenio"
    
    
    
                    placeholder="Convênio">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaDeficiencia" id="deficiencia"
    
    
    
                    placeholder="Alguma Deficiência?">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaTipoSanguineo" id="tipoSanguineo"
    
    
    
                    placeholder="Tipo Sanguineo">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaFatorRH" id="fatorRh"
    
    
    
                    placeholder="Fator RH">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovoNomeResponsavel" id="nomeResponsavel"
    
    
    
                    placeholder="Nome do Responsável">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaVinculoResponsavel" id="vinculoResponsavel"
    
    
    
                    placeholder="Vinculo Responsável">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaTelefoneResponsavel" id="telefoneResponsavel"
    
    
    
                    placeholder="Telefone do Responsável">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="tNovaEnderecoResponsavel" id="enderecoResponsavel"
    
    
    
                    placeholder="Endereço do Responsável">
    
    
    
                <div class="underline"></div>
    
    
    
            </div>

            <div class="input-field">



                <input type="text" name="lmoraResponsavel" id="moraResponsavel"
    
    
    
                    placeholder="Mora com o Responsável?">
    
    
    
                <div class="underline"></div>
                
    
    
    
            </div>

            <div class="input-field">



                <input type="date" name="tDataCadastrada" id="tDataCadastrada">

                <label for="">Data de Hoje</label>
    
    
    
                <div class="underline"></div>
                
    
    
    
            </div>

            <div id="btnEnviar">
                <button type="submit"> Enviar</button>
            </div>
        </div>
       

        </div>